{% extends "invApp/layout.html" %}



{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}OrderOut Index{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Ensure jQuery is loaded -->

    <!-- Include Moment.js (required by daterangepicker.js) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script>
    $(document).ready(function() {
        var start = moment();
        var end = moment();

        function updateDateRangeText() {
            $('#selectedValue').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            $('#date_range').val(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            opens: 'left',
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
            }
        }, function(startDate, endDate) {
            start = startDate;
            end = endDate;
            updateDateRangeText();
        });

        // Initialize the display
        updateDateRangeText();
    });
</script>

    <!-- Your other scripts -->
</head>


<body>

<div class="content">
    <div class="container-fluid">
        <!-- Page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">

                    <div style="margin-right:50px;margin-bottom:10px" class="page-title-right">
                        <form method="get" action="" class="d-flex">
                            <div style="height:7px" class="input-group">
                                <input type="text" name="startDate" class="form-control form-control-light" id="startDatePicker" placeholder="Start Date">
                                <span class="input-group-text bg-primary border-primary text-white">
                                    <i class="mdi mdi-calendar-range font-13"></i>
                                </span>
                            </div>

                            <span style="margin-left:10px; margin-right:10px" class="my-1">To</span>

                            <div style="height:7px" class="input-group">
                                <input type="text" name="endDate" class="form-control form-control-light" id="endDatePicker" placeholder="End Date">
                                <span class="input-group-text bg-primary border-primary text-white">
                                    <i class="mdi mdi-calendar-range font-13"></i>
                                </span>
                            </div>

                            <button style="height:37px;margin-left:13px" class="input-group-text btn btn-primary" type="submit">Excel data</button>
                        </form>
                    </div>
                    <h4 class="page-title">Combo List</h4>
                </div>
            </div>
        </div>

        <!-- Product Filter Form -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-xl-8">
                                <form method="get" action="{% url 'combo_list' %}" class="d-flex align-items-center">
    <div class="col-lg-6 d-flex align-items-center">
        <div id="reportrange" class="form-control me-2" data-toggle="date-picker-range" data-target-display="#selectedValue" data-cancel-class="btn-light">
            <i class="mdi mdi-calendar"></i>&nbsp;
            <span id="selectedValue">Select Date Range</span> <i class="mdi mdi-menu-down"></i>
        </div>

        <!-- Hidden input to store the selected date range -->
        <input type="hidden" name="date_range" id="date_range">


        <button class="input-group-text btn btn-primary" type="submit">Filter</button>
    </div>
</form>

                            </div>

                            <div class="col-xl-4">
                                <div class="text-xl-end mt-xl-0 mt-2">
                                    <a href="{% url 'combo_create' %}" class="btn btn-primary">
                                        <i class="mdi mdi-plus-circle me-2"></i>Add OrderOut Entry
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Product Table -->
                        <br />
                        <div class="tab-content">
                            <div class="tab-pane show active" id="basic-datatable-preview">
                                <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Sr No.</th>
                                            <th>Date</th>
                                            <th>Combo Name</th>
                                            <th>Product 1</th>
                                            <th>Product 2</th>
                                            <th>Combo SKU</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
            {% for combo in combos %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ combo.created_at }}</td>
                <td>{{ combo.combo_name }}</td>
                <td>{{ combo.product1.name }}</td>
                <td>{{ combo.product2.name }}</td>
                <td>{{ combo.combo_sku }}</td>
                <td>
                    <a href="{% url 'generate_combo_barcode' product1_id=combo.product1.product_id product2_id=combo.product2.product_id %}" class="action-icon" target="_blank">
            <i class="mdi mdi-barcode-scan"></i> <!-- Add an icon or text for barcode generation -->
        </a>
                </td>


            </tr>
            {% endfor %}
        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- container -->
</div> <!-- content -->
{% endblock %}

<!-- Scripts Section -->
{% block scripts %}
    $(document).ready(function () {
    $('#basic-datatable').DataTable();

    $('#startDatePicker').datepicker({
        // Customize start date picker
    });

    $('#endDatePicker').datepicker({
        // Customize end date picker
    });
});

{% endblock %}
</body>
</html>


